
# backend
/backend/HELP.md
/backend/target/
/backend/.mvn
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### IntelliJ IDEA ###
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backendbuild/
/backend!**/src/main/**/build/
/backend!**/src/test/**/build/

### VS Code ###
/backend/.vscode/

## config
/backend/src/main/resources/application-prod.yml


# frontend

## dependencies
/frontend/node_modules

## roadhog-api-doc ignore
/frontend//src/utils/request-temp.js
/frontend/_roadhog-api-doc
/frontend/.umi

## production
/frontend/dist

## misc
/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-error.log

/frontend/coverage
/frontend/.idea
/frontend/yarn.lock
/frontend/package-lock.json
/frontend/pnpm-lock.yaml
/frontend/*bak

## visual studio code
/frontend/.history
/frontend/*.log
/frontend/functions/*
/frontend/.temp/**

## umi
/frontend/.umi
/frontend/.umi-production

## screenshot
/frontend/screenshot
/frontend/.firebase
/frontend/.eslintcache
/frontend/build

## directory
/frontend/.husky
/frontend/.idea
/frontend/.vscode
/frontend/public
/frontend/src/.umi
